In [2]:
import pandas as pd

# Membaca dataset (ganti nama file sesuai dataset kamu)
df = pd.read_csv("dataset/data_bersih.csv")

# Menampilkan 5 baris pertama
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,statezip
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,36,62
1,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,18,26
2,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,3,7
3,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,31,31
4,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,35,54

In [3]:
# Menampilkan jumlah data
print("\nJumlah data awal (baris, kolom):", df.shape)

Jumlah data awal (baris, kolom): (3316, 15)

In [4]:
# Memilih hanya kolom numerik
numerical_df = df.select_dtypes(include=['float64', 'int64'])

# Menampilkan statistik deskriptif
descriptive_stats = numerical_df.describe()

In [5]:
# Menampilkan statistik deskriptif dalam bentuk tabel
print("\nStatistik Deskriptif:")
print(descriptive_stats)

Statistik Deskriptif:
              price    bedrooms    bathrooms  sqft_living      sqft_lot  \
count  3.316000e+03  3316.00000  3316.000000  3316.000000   3316.000000
mean   4.469004e+05     3.26146     1.997286  1837.303076   7026.547648
std    1.928517e+05     0.77095     0.647591   619.633395   3412.850688
min    0.000000e+00     2.00000     0.750000   580.000000    681.000000
25%    3.000000e+05     3.00000     1.500000  1360.000000   4622.750000
50%    4.150000e+05     3.00000     2.000000  1780.000000   7034.500000
75%    5.600000e+05     4.00000     2.500000  2250.000000   9042.750000
max    1.150000e+06     5.00000     3.500000  3910.000000  18362.000000

            floors  waterfront    view    condition   sqft_above  \
count  3316.000000      3316.0  3316.0  3316.000000  3316.000000
mean      1.491104         0.0     0.0     3.452051  1602.715320
std       0.545373         0.0     0.0     0.665318   614.226407
min       1.000000         0.0     0.0     2.000000   580.000000
25%       1.000000         0.0     0.0     3.000000  1130.000000
50%       1.500000         0.0     0.0     3.000000  1440.000000
75%       2.000000         0.0     0.0     4.000000  1980.000000
max       3.500000         0.0     0.0     5.000000  3340.000000

       sqft_basement     yr_built  yr_renovated         city     statezip
count    3316.000000  3316.000000   3316.000000  3316.000000  3316.000000
mean      234.587756  1970.381484    809.420688    25.996381    39.405006
std       355.348334    30.268932    979.477778    11.638392    20.826679
min         0.000000  1900.000000      0.000000     0.000000     0.000000
25%         0.000000  1950.000000      0.000000    18.000000    22.000000
50%         0.000000  1973.000000      0.000000    32.000000    42.000000
75%       490.000000  1998.000000   1999.000000    35.000000    57.000000
max      1250.000000  2014.000000   2014.000000    43.000000    76.000000

In [6]:
zero_values = (df[numerical_df.columns] == 0).sum()
print("\nJumlah nilai 0 pada kolom numerik:")
print(zero_values)

Jumlah nilai 0 pada kolom numerik:
price              22
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       3316
view             3316
condition           0
sqft_above          0
sqft_basement    2106
yr_built            0
yr_renovated     1970
city                4
statezip           51
dtype: int64

In [7]:
descriptive_stats.to_csv("Dataset/statistics_summary.csv")

print("\nTabel statistik deskriptif telah disimpan ke 'dataset/statistics_summary.csv'")

Tabel statistik deskriptif telah disimpan ke 'dataset/statistics_summary.csv'